*{

    margin: 0;
    padding: 0;

}

@media(max-width:700px){

    header {

        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px;
        margin: 0;
        padding: 15px;
        

    }



    header nav ul{

        flex-direction: column;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: none;

    }

    header nav ul li {

   
        margin-top: 40px;
        margin-bottom: 20px;
        
    }
    header nav ul li a{

        font-size: 30px;
        padding: 20px;
        background-color: rgba(49, 255, 8, 0.83);
        border-radius: 15px;
        color: white;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.568);
        padding: 15px;
        margin-left: 0;


    }

    .item{

        margin-bottom: 40px;

    }

    footer{

        position: relative;
        display: block;
        bottom: 0;
        width: 92%;

    }
    
}

  

